{% extends 'base.html'%} {% import 'macros.html' as macro%} {% import 'bootstrap/wtf.html' as wtf %} {% block styles%} {{ super() }}
<!--super() function tells Jinja not to override any code that is defined in the block-->
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}
    <div class="container"  style="padding-right:300px;">
        <img src="/static/photos/break.jpg " style=" height:400px;">    
    </div>
    <br> <br> <br>
    <div class=" col-md-10 col-md-offset-1 col-sm-12">
        <a class="btn btn-primary text-center text-danger " href="">What you want to do on your break?
        </a>
        <hr>
    </div>

{% endblock %}